body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.centered {
  text-align: center;
  margin-top: 40px;
 
}

.navbar {
  background-color: #0077b6;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: 500;
}

.filter-btn {
  background-color: #0096c7;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
