.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.login-card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 1.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form input {
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.login-form button {
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background-color: #5563DE;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
